@page
@model AboutModel
@{
    ViewData["Title"] = "About Page";
    var info = ViewData["info"];
}
<h1>@ViewData["Title"]</h1>

<p>Information about Super Bowl LVIII</p>
<br>
<p>@info</p>

<div>
    
</div>