@page     
@model IndexModel
@{
    ViewData["Title"] = "Super Bowl LVIII";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Super Bowl LVIII was an interesting game between the Chiefs and 49ers that went down to the wire</p>
    <br>
    <img src="~/Images/superBowl.jpg">
    <br>
    <p>Browse this site to get all the information about this past Super Bowl</p>

</div>
